
@use './../../styles/index.scss' as *;

.hero-section-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: aqua;
    background-color: $hero-section-background;
    overflow: hidden;
}

.hero-section{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: calc( 100vh - $headline-height);
    height: 100%;
    padding: $padding;
    overflow: hidden;
    z-index: 1;


}

.background-element{

    pointer-events: none; 
    user-select: none;
    position: absolute;
    right: 0px;
    bottom: 0px;

}

p{
    max-width: max(33%, 540px);
}

.portrait{
    position: absolute;
    right: 120px;
    bottom:7vw;
    pointer-events: none; 
    user-select: none;
    width: auto;
    height: 66vh;



    @media screen  and (max-width:1442px){
        bottom:auto;
        bottom: 33vh;
        right: 50%;
        transform: translateX(50%);
        img{
            width: 100%;
        }
    }

    @media screen  and (max-width:400px){
        width: 442px;
        bottom:20vw;
        right:47%;
        transform: translateX(50%);
        img{
            width: 100%;
        }
    }
}


.text-layer{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:1442px) {
    justify-content: end;
    padding-bottom: 14vh;
    }
}


.text-column{
        margin: calc($border-padding - 40px);
    @media screen and (max-width:1442px) {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .desktop-class{
            display: none;
        }
    }
}



button{
    margin: 32px 40px
}

.social-navi {
    margin-left: 40px;

    @media screen and (max-width:1200px) {
        margin-top: 0px;
    }
    ul{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        align-items: center;
        li{
            margin: 16px;
            scale:1.0;
            transition: scale $transition-timer ease-in-out;
        }
        li:last-child{
            margin-right: 0px;
        }
        li:first-child{
            margin-left: 0px;
        }
        li:hover{
        scale:1.1;
        transition: scale $transition-timer ease-in-out;
    }
    }

    a{
    color: $white-text-color;  
    text-decoration: none;
    }

}


.z-300{
    z-index: 300;
}

@media screen and (max-width:1442px){
    h1{
        position: relative;
        z-index: 404;
        text-align: center;
        font-size: clamp(1.5rem, 12vw, min(7rem, 33vh));
        transform: skewY(5deg);
        font-weight: 500;
    }

    .social-navi{
        position: fixed;
        right: 40px;
        bottom: calc(33vh - 48px);
        transform: skewY(5deg) translateY(-25%);
        filter: invert(100%);

        ul{

        li{
            margin: 0px;
            margin-left: 16px;
        }

        }

    }

    .hero-section{
        position: relative;
        z-index: 403;
        padding: 0px;
        pointer-events: none;
    }

    .text-layer{
        position: relative;
        z-index: 403;
        height: 100%;
        padding: 0px;
        pointer-events: none;
    }   

    .text-column{
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: calc( 33vh + 75px );
        z-index: 404;
        transform: skewY(-5deg);
        pointer-events: none;
    }

    .transition{ 
        position: absolute;
        bottom: 33vh;
        z-index: 102;
        width: 100%;
        height: max-content;
        transform: translate(0px,0px);

        .buffer-box{
            height: 133vh;
            position: absolute;
            bottom: calc(-133vh - 72px);
        }
    }

    .z-300{
        z-index: 101;
    }


}


