
@use './../../styles/index.scss' as *;
.hero-section{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: calc( 100vh - $headline-height);
    background-color: $hero-section-background;
    padding: $padding;
    overflow: hidden;
    z-index: 1;

    &::after{
        content: "";
        position: absolute;
        z-index: 100;
        background-color: $white;
        height: 15vh;
        width: 100%;
        bottom: -12vh;
        left: 0px;
        transform: skewY(-5deg);
        transform-origin: left top;
    }
}

.background-element{
    z-index: 1;
    pointer-events: none; 
    user-select: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

p{
    max-width: max(33%, 540px);
}

.portrait{
    z-index: 3;
    position: absolute;
    right: 20px;
    bottom:7vw;
    pointer-events: none; 
    user-select: none;
    height: 70vh;
    @media screen  and (max-width:1200px){
        height: 70vh;
        bottom:14vw;
        right: 50%;
        transform: translateX(50%);
    }
}


.text-layer{
    box-sizing: border-box;
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:1200px) {
    justify-content: end;
    padding-bottom: 14vh;
    }
}

.text-column{
    margin: calc($border-padding - 40px);
    @media screen and (max-width:1200px) {
    margin: 0;
    display: none;
    }
}

.mobil-title{
    display: none;
    @media screen and (max-width:1200px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1{
            font-size: clamp(1.5rem, 12vw, 3.75rem);
    }
    }
}

button{
    margin: 32px 40px
}

nav {
    margin-left: 40px;

    @media screen and (max-width:1200px) {
        margin-top: 0px;
    }
    ul{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        align-items: center;
        li{
            margin: 16px;
            scale:1.0;
            transition: scale $transition-timer ease-in-out;
        }
        li:last-child{
            margin-right: 0px;
        }
        li:first-child{
            margin-left: 0px;
        }
        li:hover{
        scale:1.1;
        transition: scale $transition-timer ease-in-out;
    }
    }

    a{
    color: $white-text-color;  
    text-decoration: none;
    }

}

.moveableObject{
    transition: transform 0.1s ease-out;
}

.darken{
   filter: brightness(0.0) blur(12px);;
}

.overlay {
    position: fixed;        
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100vw;         
    height: 50vh;       
    z-index: 200;        
    pointer-events: none;
    max-width: $max-width;

    &::after {
        z-index: 98;
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 460px; 
        background: transparent; 
        transform: skewY(-5deg);
        transform-origin: left bottom;
    }
}

.red{
    background-color: $red;
    &::after {
       background: $red;  
    }
}

.white{ 
    background-color: $white;

    &::after {
       background: $white;  
    }

    &::before{
        z-index: 98;
        content: "";
        position: absolute;
        bottom:-460px;
        left: 0;
        width: 100%;
        height: 460px; 
        background: white; 
        transform: skewY(-5deg);
        transform-origin: left top;
    }
}