
@use './../../styles/index.scss' as *;
.hero-section-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $hero-section-background;
    overflow: hidden;

}
.hero-section{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: calc( 100vh - $headline-height);
    padding: $padding;
    overflow: hidden;
    z-index: 1;
}

.background-element{
    pointer-events: none; 
    user-select: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
p{
    max-width: max(33%, 540px);
}
.portrait{
    position: absolute;
    right: 5vw;
    bottom:7vw;
    pointer-events: none; 
    user-select: none;
    width: auto;
    height: 66vh;
    min-height: min(80vh, 700px);

    @media screen  and (max-width:1442px){
        min-height: auto;
    }
    @media screen  and (max-width:1442px){
        min-height: auto;
        bottom: 33vh;
        right: -2%;
        transform: translateX(0%);
    }
}
.text-layer{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text-column{
        margin: calc($border-padding - 40px);
    @media screen and (max-width:1442px) {
        margin: 0;
        display: flex;
        flex-direction: column;

        .desktop-class{
            display: none;
        }
    }
}



button{
    margin: 32px 40px;
    width: max-content;
}

.social-navi {
    margin-left: 40px;

    @media screen and (max-width:400px) {
        margin-top: 0px;
    }
    ul{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        align-items: center;
        li{
            margin: 16px;
            scale:1.0;
            transition: scale $transition-timer ease-in-out;
        }
        li:last-child{
            margin-right: 0px;
        }
        li:first-child{
            margin-left: 0px;
        }
        li:hover{
        scale:1.1;
        transition: scale $transition-timer ease-in-out;
    }
    }

    a{
        color: $white-text-color;  
        text-decoration: none;
    }

}

.scroll-animation{
    user-select: none;
    pointer-events: none;
}

.mouse-animation{
    opacity: 0;
    pointer-events: none;
    width: 2.25rem;
    height: 3.75rem;
    border-radius: 100vh;
    border: 0.125rem solid $grey;
    margin: 24px 0px;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translate(-0px, 10%);
    z-index: 333;

    @media screen and (max-width:1422px) and (orientation: landscape) {
         opacity: 1;
    }

    @media screen and (max-width:1100px){
        opacity: 0;
    }
}

.arrow{
    width: 0.25rem;
    height: 0.25rem;
    border: solid $red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.z-300{
    z-index: 300;
}

@media screen and (max-width:1442px){
    h1{
        z-index: 101;
        font-size: clamp(1.5rem, 12vw, min(7rem, 33vh));
    }

    .hero-section{
        position: relative;
        height: 100%;
        z-index: 101;
        padding: 0px;
        pointer-events: none;
    }

    .text-layer{
        z-index: 101;
        pointer-events: none;
        justify-content: center;
        position: absolute;
        bottom: calc(15vh + 9px);
        top: auto;
        left: 0px;
    }   

    .text-column{
        width: 100%;
        z-index: 404;
        pointer-events: none;
    }

    .transition{ 
        position: absolute;
        bottom: 15vh;
        z-index: 102;
        width: 100%;
        height: max-content;
        transform: translate(0px,0px);

        .buffer-box{
            height: 133vh;
            position: absolute;
            bottom: calc(-133vh - 72px);
        }
    }

    .z-300{
        z-index: 101;
    }
}
.social-mobil-navi{
    z-index: 111;
    position: absolute;
    bottom: 12vh;
    filter: invert(100%);
    right: 40px;
}

@media screen and (max-width:1024px){  
    .transition{ 
        bottom: 15vh;
    }
}

@media screen and (max-width:1100px){  

    .social-navi{
        filter: invert(100%);
        margin: 0px;
    }

    h1 {
        font-size: clamp(1.5rem, 12vw, 6rem);
        padding: 0px;
    }

    .social-mobil-navi{
        display: none;
    }
    .transition{ 
        bottom: 40vh;

        .buffer-box{
            height: 140vh;
            bottom: calc(-140vh);
        }
    }
    .portrait{
        position: absolute;
        right: 50%;
        transform: translate(50%,0px);
        bottom: 36vh;
    }
    .mobil-off{
        display: none;
    }

    .hero-section{
        z-index: 333;
    }

    .text-layer{
        position: absolute;
        bottom: 48px;
        top: auto;
        height: 46vh;
        transform: skewY(-5deg);

    }

    .text-column{
        position: absolute;
        bottom: 0px;
        align-items: center;
        transform: skewY(5deg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
            color: $grey;
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 820px){
    .vertical-off{
        display: none;
    }

    .text-layer{
        margin-top: 40px;
    }
}

@media screen and (orientation: landscape) and (max-width:1442px ) {
    .horizontal-off{
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width:100px) {
    .horizontal-off{
        display: flex;
    }
}






