@use "./../../styles/index.scss" as *;

:host {
    height: 100dvh;
    width: 100%;
}

.contact-wrapper{
    width: 100%;
}

.email-button{
    text-decoration: none;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    background-color: $light-grey;
    border-radius: 8px;
    box-shadow: 2px 2px 4px $button-grey;
    margin-left: 40px;
    width: max-content;

    p span{
        transition: color $transition-timer ease-in-out;
    }

    icon{
        display: flex;
        flex-shrink: 0;
        aspect-ratio:  1 / 1;
        border-radius: 12px;
        padding: 16px;
        font-size: 2rem;
        color: $white-text-color;
        background-color: $button-grey;
    }

    &:hover p span {
        color: $button-hover-color;
        transition: color $transition-timer ease-in-out;
    }

    @media screen and (max-width:1200px){
        display: none;
    }
}

.contact-box-wrapper{
    height: 100%;
    padding: 96px 0px;
    display: flex;
    flex-grow: 1;
    position: relative;

    @media screen and (max-width:1200px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.form-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     @media screen and (max-width:1200px){
            width: 100%
    }
}

.text-wrapper{
    box-sizing: border-box;
    padding-left: 80px;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width:1200px){
        padding-left: 0px;
        text-align: center;
        width: 90%;
        margin-bottom: 64px;
    }

}


.text-block{
    p{
        color: $black-text-color;
    }

    @media screen and (max-width:1200px){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
           padding: 0px; 
        }
    }
}



.flex-button{

    @media screen and (max-width:1200px){
        p{
        margin: 0px;
        padding: 0px 12px;
        }
    }

    p{
        text-align: start;
        color: $black-text-color;
    }

    span{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        color:$red
    }
}

.text{
    max-width:48ch;
}


