$red: #E44064;
$hover: #E91C56;
$blue: #1e88e5;
$grey: #11131D;
$light-grey: #EBEBEB;
$button-grey: #C9C9C9;
$white: #ffffff;
$black-text-color : #290509;
$white-text-color : #ffffff;
$button-color: #14C587;
$button-hover-color: #2BE67F;
$gradient: linear-gradient(125deg, #ffaa92, #bd0048);
$body-background: linear-gradient(45deg, #FB877F, #D30A50);
$shadow: rgba(0,0,0,0.2);
$github-color: #253257;


$hero-section-background: #290509;

$border-padding :136px;

$max-width: 1920px;
$padding : 0px $border-padding;
$headline-height:72px;
$logo-max-width: 220px;

$transition-timer : 0.25s;

$running-text : 1.31rem;

$h1 : clamp(1.5rem, 12vw, 7.75rem);
$h2 : clamp(1.5rem, 12vw, 7.75rem);
$h3 : clamp(1.5rem, 12vw, 2.625rem);