@use "./../../../styles/index.scss" as *;


:host{
    width: min(50vw, 600px);
    @media screen and (max-width:1200px){
         width: 90%;
    }
}

input, input:hover, input:focus, input:active{
    outline: none;
}


input{
    padding: 0px 16px;
    font-family: $font-set-one;
    font-size: 1.125rem;
    font-weight: 400;
    height: 44px;
    color: $black-text-color;
    border-radius: 8px;
    border: 2px solid;
    border-color: $button-grey;
    margin-bottom: 24px;

    &::placeholder{
    font-family: $font-set-one;
    font-size: 1.125rem;
    font-weight: 400;
    color:$button-grey;
   } 

   &:hover{
    border-color:$button-hover-color;
   }


   &:active, &:focus{
    border-color:$button-color;
   }

   @media screen and (max-width:1200px){
        width: 92%;
        max-width: 550px;
   }
}

textarea, textarea:active, textarea:focus, textarea:hover{
    outline: none;
}

textarea{
    resize: none;
    padding: 8px 16px;
    font-family: $font-set-one;
    font-size: 1.125rem;
    font-weight: 400;
    height: 124px;
    color: $black-text-color;
    border-radius: 8px;
    border: 2px solid;
    border-color: $button-grey;

    &::placeholder{
    font-family: $font-set-one;
    font-size: 1.125rem;
    font-weight: 400;
    color:$button-grey;
   } 

   &:hover{
    border-color:$button-hover-color;
   }


   &:active, &:focus{
    border-color:$button-color;
   }

    @media screen and (max-width:1200px){
        width: 92%;
        max-width: 550px;
   }
}

form{
    box-sizing: border-box;
    height: min-content;
    border-radius: 8px;
    padding: 32px 56px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $form-gbackground;
    box-shadow: 1px 2px 4px $shadow;

    p{
        margin: 16px 0pc;
        color: $black-text-color;
        padding: 0 0;
    }

    @media screen and (max-width:1200px){
        display: flex;
        align-items: center;
    }

    @media screen and (max-width:512px){
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0pc;
        text-align: center;
        padding: 32px 16px;
    }
}

.error{
    border-color: $red;
}

button{
    color: $white-text-color;
    padding: 12px 32px;
    width: max-content;
}

button:disabled
{
   color: grey;
   background-color: $button-grey; 

   &:hover{
    cursor: not-allowed;
    scale: 1;
   }
}
.error-container{
    margin: 16px 0px;
    min-height: calc( 2 * $running-text );
    p{
        margin: 0px;
        color: $red;
    }
}