@use "./../../styles/index.scss" as *;


.skills-wrapper{
    z-index: 300;

    background-color: $grey;
    position: relative;
}

.skills-content-wrapper{
    padding: 260px 0px;
    margin-left: calc($border-padding - 40px);

}

.white-triangle{
    z-index: 302;
    position: absolute;
    top: -100px;
    height: 200px;
    width: 100%;
    left: 0px;
    background-color: $white;
    transform: skewY(-5deg);
}

.skill-category-wrapper{
    margin: 96px 0px;
    display: flex;
    align-items: start;

    h3{
        margin-right: max(32px,5vw);
        min-width: 256px;
    }

    @media  screen and (max-width:1200px) {
        display: flex;
        flex-direction: column;
    }
}

.skill-category-container{
    ul{
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 56px; 

        @media  screen and (max-width:1200px) {
            padding-left: 40px;
             display: flex;
             align-items: center;
             flex-wrap: wrap;
        }


        li{
            font-size: $running-text;
            color: $white-text-color;
            display: flex;
            align-items: center;
            margin-right: 72px;
            width: 120px;
        }

        img{
            margin-right: 24px;
        }
    }
}