:host{
    min-height: calc( 100vh - 72px);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    display: flex;
    flex-grow: 1;
    background: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 96px 40px;
}

.flex-grow{
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: 100%;
}

