@use "../../styles/index.scss" as *;
:host {
    background: $hero-section-background;
}

.headline-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    background: $hero-section-background;
    top: 0px;
    left: 0px;
    z-index: 9999;
    align-items: center;
    box-sizing: border-box;
    padding: $padding;
    height: $headline-height;
    transform-origin: top center;
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.25s ease-in-out, transform 0s ease-in-out;

    @media screen and (max-width:1442px) {
        padding: 0px 40px;
    }

    @media screen and (max-width:1100px) {
        padding: 0px 16px;
    }



    
}


.shrink{
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity $transition-timer ease-in-out, transform $transition-timer ease-in-out;
}

.logo{
    max-width: $logo-max-width;

    &:hover{
        cursor: pointer;
    }

    @media screen and (max-width:1200px) {
        display: flex;
        margin: 8px 0px 8px 0px;
        max-width: none;
        width: clamp(160px , 16vw, 220px);
        min-width: 200px;

        overflow: hidden;
        img{
            width: 100%;
        }
    }
}

#mobil-menu-toggle{
    display: none;
    padding: 16px;
}

.mobil-menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;

  &:hover{
    cursor: pointer;
  }

}

.mobil-menu-button span {
  height: 3px;
  background: $white-text-color;
  border-radius: 2px;
  transition: 0.3s;
}


nav{
    display: flex;
    flex-wrap: nowrap;
    color: $white-text-color;
    align-items: center;
}



.main-nav{
    margin: 0px 32px;
    font-size: $running-text;
     ul{
        display: flex;
        list-style: none;
        transform-origin: top center;

        li{

            margin: 0px 24px;
            display: flex;
            position: relative;
            min-width: 36px;
            justify-content: center;
            align-items: center;
            font-size: $running-text;

            &:hover{
               color: $hover;
               cursor: pointer;
               scale: 1.1;
               transition: scale $transition-timer ease-in-out, color $transition-timer ease-in-out;
        }
    }
 }
 }

.language-nav{

         li{
            margin:0px;
            display: flex;
            position: relative;
            min-width: 36px;
            padding:2px;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            user-select: none;
            font-weight: 400;

            &:hover{
               color: $hover;
               cursor: pointer;
               scale: 1.1;
               transition: scale $transition-timer ease-in-out, color $transition-timer ease-in-out;
            }

            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid $white;
                width: calc(100% + 8px);
                box-sizing: border-box;
                aspect-ratio: 1 / 1;
                flex-shrink: 0;
            }

        }
}

@media screen and (max-width:1240px){



}