@use "./../../styles/index.scss" as *;


:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 40px;
    max-width: 1800px;

    @media screen and (max-width:1200px){
        padding: 0px 16px;
        height: calc(100% - $headline-height);
        top: $headline-height;
    }
}

h2{
    color: $white-text-color;

    @media screen and (max-width:1200px){
        text-align: start;
        padding: 0px;   
     }
}

.project-info-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    p{
        max-width: 55ch;
    }

    @media screen and (max-width:1200px){
        p{
            padding: 0px;
        }
    }

}

.project-picture-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 40px;

    @media screen and (max-width:1200px){
        display: none;
    }

    img{
        box-shadow: -20px -20px 0px #490945;

    }
}

button{
    padding: 12px 48px 12px 48px;
    margin-right: 40px;
    @media screen and (max-width:1200px) {
        padding: 12px 24px 12px 24px;
        margin-right: 24px;
    }
}

.github-button{
    background-color: $github-color ;
    color:$white-text-color;
    font-weight: 300;
}

.used-tech{
    margin: 40px 0px 16px 0px;
    padding-left: 40px;
    display: flex;
    list-style: none;
    li{
        margin-right: 32px;
    }

    @media screen and (max-width:1200px) {
        padding: 0px;
        margin: 24px 0px 0px 0px;
        padding-left: 0px;
    }
}

.button-wrapper{
    display: flex;
    flex-wrap: nowrap;
}