@use "./../../styles/index.scss" as *;


:host {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-color-background);

     &.projectOne::before {
        z-index: -1;
        content: '';
        position: absolute;
        left: -150px;
        top: 0px;
        height: 100%;
        width: 300px;
        transform: skewX(-5deg);
        background-color: var(--box-color-background);
    }
    
    &.projectTwo::before {
        content: '';
        position: absolute;
        right: -150px;
        top: 0px;
        height: 100%;
        width: 300px;
        transform: skewX(-5deg);
        background-color: var(--box-color-background);
    }
    
    &.projectThree::before {
        content: '';
        position: absolute;
        right: 0px;
        top: -150px;
        height: 300px;
        width: 100%;
        transform: skewY(-5deg);
        background-color: var(--box-color-background);
    }
}


.project-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    max-width: 1800px;


    @media screen and (max-width:1650px){
        padding: 36px 0px 0px 0px;
        height: calc(100% - $headline-height);
        top: $headline-height;
        display: flex;
        gap: min(3vw,2rem);
        align-items: center;
        flex-direction:column-reverse;
        justify-content: start;
    }
}
    p{
      padding: 0px;     
    }


    h2{
        color: $white-text-color;
        padding: 0px;  

        @media screen and (max-width:1650px){
            text-align: start;
            padding: 0px;   
        }

        @media screen and (max-width:1367px) and (orientation: landscape) {
            font-size: 5.5rem;
        }
    }



.project-info-wrapper{
    padding-left: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    p{
        max-width: 55ch;
    }

    @media screen and (max-width:1650px){
        width: 92%;
        box-sizing: border-box;
        height: max-content;
        padding-bottom: 32px;
        justify-content: end;
        padding-left: 0px;
        flex-grow: 1;
        justify-content: space-around;
        p{
            padding: 0px;
        }
    }

}

.text-wrapper{
  display: -webkit-box;     
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;            
  text-overflow: ellipsis;  
}

.more-button{
    margin-top: 16px;
    display: block;
    width: max-content;
    text-decoration: underline;

    &:hover{
        cursor: pointer;
       color: var(--box-color);
    }
}


.project-picture-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 40px;

    @media screen and (max-width:1650px){
        height: max-content;
        padding-right: 0px;
        width: calc(90% - 20px);
        max-height: 25%;

        img{
           height: 100%;
            box-shadow: 20px -20px 0px #150815;

        }
    }

    img{
        box-shadow: -20px -20px 0px var(--box-color-shadow);
    }
}

a{
    font-size: $running-text;
    text-decoration: none;
    color:$white-text-color;
    background-color: var(--box-color);
    padding: 12px 48px 12px 48px;
    margin-right: 40px;
    margin-top: 24px;
    scale: 1.00;
    transition: scale $transition-timer ease-in-out;

    &:hover{
        scale: 1.05;
        transition: scale $transition-timer ease-in-out;
    }

    @media screen and (max-width:1650px) {
        padding: 12px 24px 12px 24px;
        margin-right: 24px;
    }
}

.github-button{
    background-color: $github-color ;
    color:$white-text-color;
    font-weight: 300;
}

.used-tech{
    margin: 40px 0px 16px 0px;
    display: flex;
    list-style: none;
    li{
        margin-right: 32px;
    }

    @media screen and (max-width:1650px) {
        padding: 0px;
        margin: 24px 0px 0px 0px;
        padding-left: 0px;
    }
}

.button-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.project-one{
    &::before{
        z-index: -1;
        content: '';
        position: absolute;
        left: -150px;
        top: 0px;
        height: 100%;
        width: 300px;
        transform: skewx(-5deg);
        background-color: var(--box-color-dark);
    }
}

.project-two{
        &::before{
        content: '';
        position: absolute;
        right: -150px;
        top: 0px;
        height: 100%;
        width: 300px;
        transform: skewx(-5deg);
        background-color: var(--box-color-dark);
    }
}

.project-three{
     &::before{
        content: '';
        position: absolute;
        right: 0px;
        top: -150px;
        height: 300px;
        width: 100%;
        transform: skewY(-5deg);
        background-color: var(--box-color-dark);
    }
}